<%= render "shared/header" %>

<%= form_with(model: @pfc, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :items, "Select Items" %>
    <%= form.collection_check_boxes :item_ids, Item.all, :id, :item_name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<div>
  <%= link_to new_item_path do %>
        <span >登録する</span>
  <% end %>
</div>