<div id="search-results">
  <% @items.each do |item| %>
    <div class="item-checkbox-percentage">
      <div class="item-pfc-checkbox">
        <%= check_box_tag 'pfc[item_ids][]', item.id, @pfc.item_ids.include?(item.id), class: 'item-checkbox', data: { item_id: item.id } %>
      </div>
      <div class="item-pfc-percentage-graph">
        <canvas id="macrosChart_<%= item.id %>"></canvas>
      </div>
      <div class="item-pfc-percentage-index">
        <div class="item-pfc-percentage-item-name">
          <%= label_tag "pfc_item_#{item.id}", item.item_name %>
        </div>
        <div class="item-pfc-percentage-index-item">
          <div class="item-pfc-percentage-index-item-contents">カロリー  <span class="item-pfc-percentage-index-item-value" id="item-kcal_<%= item.id %>"><%= item.item_kcal %></span> kcal</div>
          <div class="item-pfc-percentage-index-item-contents">タンパク質  <span class="item-pfc-percentage-index-item-value" id="item-protein_<%= item.id %>"><%= item.item_protein %></span> g</div>
          <div class="item-pfc-percentage-index-item-contents">糖質  <span class="item-pfc-percentage-index-item-value" id="item-sugar_<%= item.id %>"><%= item.item_sugar %></span> g</div>
          <div class="item-pfc-percentage-index-item-contents">脂質  <span class="item-pfc-percentage-index-item-value" id="item-oil_<%= item.id %>"><%= item.item_oil %></span> g</div>
        </div>
      </div>
      <div class="item-pfc-percentage-ratio">
        <%= number_field_tag "pfc[adjustment_percentages][#{item.id}]", 100, step: 0.1, min: 0, id: "percentage_#{item.id}", class: "item-pfc-new-percentage-input",style: 'display: none;' %>
        <%= label_tag "percentage_#{item.id}", " (%)" %>
      </div>
    </div>
  <% end %>
</div>