<%= render "shared/header" %>

<div>
  <% if @items.present? %>
    <% @items.each do |item| %>
      <%= content_tag :span, item.item_name %>
      <%= content_tag :span, item.item_kcal %>
      <%= content_tag :span, item.item_protein %>
      <%= content_tag :span, item.item_oil %>
      <%= content_tag :span, item.item_sugar %>
      <%= content_tag :span, Store.find(item.store_id).name %> 
      <%= content_tag :span, item.remarks %>
    <% end %>
  <% else %>
    <p>No items found.</p>
  <% end %>
</div>
